@import url("https://fonts.googleapis.com/css2?family:wght@300&");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1 {
  text-align: center;
}
.outter_div2 {
  width: 100%;
  height: 700px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background: #141e30;
}
.about {
  height: 400px;
  width: 800px;
  border-radius: 15px;
  border: 1px solid;
  background: linear-gradient(#373b44, #4286f480, #d9d9d900);
  outline: none;
  /* margin: 20px 0; */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.para {
  width: 40%;
  height: 100%;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 950px) {
  .outter_div2 {
    justify-content: center;
    align-items: center;
    height: 70vh !important;
    margin-bottom: 10rem;
  }
  .about {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column !important;
  }
  .para {
    width: 100%;
    height: 40%;
  }
  .about .image {
    width: 100%;
    height: 60%;
  }
  .about .image img {
    width: 100%;
    height: 100%;
  }
}
.image {
  width: 50%;
  height: 100%;
}
.image img {
  padding: 10px;
  width: 380px;
  height: 400px;
}
