.image1{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 30%;
    bottom: 50%;
    z-index: 2;
    padding: 2rem;
    
}
.svg1{
    /* height: 100px; */
    position: relative;
}
.svg1 svg{
    position: absolute;
    bottom: 0%;
    z-index: 1;
}
.svg1 img{
    margin: 1rem;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
.face{
    height: 90px;
    width: 90px;
}
.face1{
    height: 90px;
    width: 90px;

}

.face2{
    height: 90px;
    width: 90px;

}

.face3{
    height: 90px;
    width: 90px;

}



@media (max-width:950px) {
    .image1{
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        left: 0%;
        bottom: 50%;
        z-index: 2;
        padding: 1rem;
        
    }
    .svg1 img{
        margin: 0rem;
    }   
}