@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat:wght@300&family=Poppins:wght@200;300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
.outter_div{
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #141E30;
    
    
  }
.register{
    height: 450px;
    width: 950px;
    border-radius: 15px;
    border: 1px solid;
	background: linear-gradient(#373B44,#4286F4);
    outline: none;
  margin: 20px 0;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image{
  width: 50%;
  height: 100%;
}
img{
  padding: 20px;
  width: 430px;
  height: 450px;
}
.form{
  width: 50%;
  height: 100%;
  padding: 20px;
 margin: 20px;
}

input{
  padding: 10px;
  border-radius: 10px;
 margin: 8px;
}
.email{
  width: 340px;
}
.ins{
  width: 340px;
}
.fname{
  width: 170px;
}
.lname{
  width: 170px;
}
select{
  padding: 10px;
  border-radius: 10px;
}
button{
  height: 30px;
  width: 95px;
  margin-top: 8%;
  margin-left: 39%;
}

.submit{
  color: white;
  background: linear-gradient(#373B44,#4286F4);
  display: grid;
align-items: center;
grid-template-columns: 10fr;
  justify-content: flex-end;
  border: 1px solid rgb(9, 9, 9);
  border-radius: 5px;
}
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}


.arrows path {
	stroke: #77bde6;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow 
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; 
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; 
}
